h1{
    text-align: center;
    font-size: 3.5rem;
    color: rgba(247, 244, 250, 0.863);
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#dipproject {
    height: 390px;
    width: 50%; 
   text-align: center;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
    transform-origin: center;
    position: relative;
    overflow: visible;
    margin-top: 50px;
}
#dipproject h3{
    text-align: center;
    background-color: rgba(40, 20, 59, 0.863);
    color: white;
    padding: 10px;

}
#dipproject:hover{
    box-shadow: 0px 0px 20px white;
}

#dipproject h4{
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(26, 4, 48, 0.863);
}
#dipprojects{
    padding: 20px;
    width: 100%;
    background-color: rgba(26, 4, 48, 0.863);
    margin-top: 0px;
    height: 100vh;
}
#dipproject #projectimage{
    height: 200px;
    width: 100%;
   border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
